resources/Article.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="Article">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="ArticleNumber" type="xs:string"/>
      <xs:element name="ArticleName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>