site-prototype/Files/Employee/Employee.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="Employee">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="EmployeeNumber" type="xs:string"/>
      <xs:element name="EmployeeName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>